/* .bannerthird{
    display: flex;
    justify-content: space-around;
    background-color: #f2fbff;
    height: 700px;
    margin-top: 43px;
    width: 1340px;
    padding-top: 60px;
    font-family: 'Agency FB';
    margin: auto;
    margin-bottom: 43px
}

.bannerthird .title{
    font-size: 30px;
    margin-top: 20px;
}

.bannerthird .img{
    height: 235px;
    width: 296px;
} */


    .bannerthird{
        display: flex;
        background-color: #f2fbff;
        justify-content: space-around;
        height: 500px;
        width: 904px;
        padding-top: 20px;
        font-family: 'Agency FB';
        margin: auto;
        margin-bottom: 10px;
    }
    
    .bannerthird .img{
        height: 235px;
        width: 296px;
    }

    .bannerthird .title-content {
        font-size: 36px;
        text-align: center;
    }


@media screen and (min-width: 768px) and (max-width: 1023px)  {
    .bannerthird{
        display: flex;
        background-color: #f2fbff;
        width: 688px;
        padding-top: 20px;
        font-family: 'Agency FB';
        margin: auto;
        margin-bottom: 43px;
        height: auto;
        /* padding-bottom: 10px */
    }
    
    .bannerthird .img{
        height: 160px;
        width: 220px;
    }

    .bannerthird .title{
        font-size: 26px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px)  {
    .bannerthird{
        display: flex;
        background-color: unset;
        width: 320px;
        padding-top: 10px;
        font-family: 'Agency FB';
        margin: auto;
        margin-bottom: 30px;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    
    .bannerthird .img{
        height: 180px;
        width: 280px;
    }

    .bannerthird .title{
        font-size: 26px;
        margin-top: 10px;
        margin: 0px;
        text-align: center;
    }

}