
.Step-body{
   margin-top: 60px;
   display: flex;
   justify-content: center;
}
.Step-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  background-color: white;
 
  }
  .Step-text{
    text-align: center;
    margin-top: 42px;
    color: rgb(0,135,195);
    font-size: 30px;
    font-family:'Agency FB';
  }
  .Step-number-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
.Step-number{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 350px;
}

  .Step-circle-one{
    margin-top: 30px;
     width: 24px;      
     height: 24px;      
     background-color:rgb(0,135,195);     
      border-radius: 50%;      
      text-align: center;
      color: white;
  }
  .Step-circle-two{
    margin-top: 30px;
     width: 24px;      
     height: 24px;      
     background-color:#c7c7c7;     
      border-radius: 50%;      
      text-align: center;
      color: white;
  }
  .Step-divider-blue{
    height:2px;
    border:none;
    width: 60px;
    background-color: rgb(0,135,195);
    text-align: center;
     margin-top: 40px;
  }
  .Step-divider-gray{
    height:2px;
    border:none;
    width: 60px;
    background-color: #c7c7c7;
    text-align: center;
     margin-top: 40px;
  }
  .Step-hint{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 500px;
    margin-top: 30px;
    color: rgb(0,135,195);
    font-size: 20px;
    font-family:'Agency FB';
  }
  .Step-information-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .Step-information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    width: 350px;
    height: 35px;
  }
   .Step-information2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    height: 35px;
    width: 350px;
  }
  .Step-lable{
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    font-family: 'Agency FB';
    color: rgb(93,93,93);
  }
  .span{
    margin-left: 14px;
  }
  .Step-body p{
    font-size: 24px;
    font-family: 'Agency FB';
    color: rgb(0,135,195);
  }
  .Step-input2{
     width: 200px;
  }
  .step-arrow-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Step-arrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 350px;
    margin-bottom: 60px;
    margin-top: 50px;
  }
  .Step-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
     width: 50px;      
     height: 50px;      
     background-color:rgb(0,135,195);     
      border-radius: 50%;
      color: white;
      cursor: pointer;
  }
   .Step-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-top: 30px;
     width: 50px;      
     height: 50px;      
     background-color:rgb(0,135,195);     
      border-radius: 50%;
      color: white;
      cursor: pointer;
  }
.Step-left-img{
  width: 17px;
  height: 30px;
}
.Step-right-img{
  width: 17px;
  height: 30px;
}

.Step{
}

.Step-select{
   float: right;
   font-family: 'Agency FB';
   font-size: 18px;
   height: 30px;
   width: 200px;
 }
 .Step-input-search{
   float: right;
 }
 .Step-FirstName-input{
  margin-top: 30px;
   width: 160px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  font-family: 'Agency FB';
  color: rgb(135,135,135);
}

.Step-LastName-input{
  width: 160px;
  height: 30px;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  text-align:center;
   font-family: 'Agency FB';
   color: rgb(135,135,135);
}
.Step-PostCode-input{
  width: 160px;
  height: 30px;
  font-size: 20px;
  text-align:center;
   font-family: 'Agency FB';
   color: rgb(135,135,135);
}
.Step-Phone-input{
  width: 160px;
  height: 30px;
  font-size: 20px;
  text-align:center;
  margin-left: 40px;
   font-family: 'Agency FB';
   color: rgb(135,135,135);
}
.Step-Phone-input:focus{
  box-shadow: 0 0 0 rgba(0,0,0,0);
    color: rgb(0,135,195);
    border:1px solid;
    border-radius:4px;
}
.Step-Name{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 60px;
}
.Step-Code{
  float: left;
   margin-left: 60px;
}
.Step-checkbox-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 400px;
}
.Step-checkbox-accept{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
    margin-top: 30px;
    font-family: 'Agency FB';
    font-size:20px;
    font-weight: bold;
    line-height: 15px;
}
.Step-checkbox{
  margin-top: 10px;
}
.Step-switch-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 320px;
}
.Step-switch-robot{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
    margin-top: 30px;
    font-family: 'Agency FB';
    font-size:20px;
    font-weight: bold;
    line-height: 22px;
}
.Step-divider{
   height:1px;
  border:none;
  width: 350px;
  margin-top: 42px;
  background: linear-gradient(to left,rgba(0,0,0,0), rgb(0,135,195),rgba(0,0,0,0));
}
.Step-confirm{
  margin-top: 50px;
  margin-bottom: 60px;
  width: 360px;
  height: 48px;
  font-size: 26px;
   font-family: 'Agency FB';
}
.Step-modify{
  cursor: pointer;
}


