.footer{
    width: 100%;
    background-color: #0087c3;
    font-family: 'Agency FB';
    font-size: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 30px
}

.footer a{
    color: white;
}

.btnBuyer a{
    color: #0087c3
}

.footerContent{
    width: 1340px;
}
.subBanner{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    border-color: #ffffff85;
    border-style: none none solid none;
    border-width: 2px;
}



.footer .hideBorder{
    border-style: none !important;
    padding-bottom: 0px !important;
}

.footer .img{
    width:160px
}

.btnBuyer{
    justify-content: center;
    color: #0087c3;
    height: 40px;
    width: 140px;
    background-color: white;
    border-radius: 3px;
}

.btnSeller{
    color: white;
    height: 40px;
    width: 140px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 3px;
}

.subBanner .titleCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}   

.subBanner .title{
    font-size: 14px;
    margin: 0px;
    align-items: center;
    letter-spacing: -0.3px;
}

.white{
    color: white;
}

.footer .iconfont{
    margin-right: 10px;
}

.footer .iconlist{
    margin-top: 15px
}

.footer .subTitle{
    padding-right: 64px;
}

.width3{
    height: 100%;
    width: 33.3333%;
}

.subBanner .story{
    padding-right: 77px
}

.subBanner .product{
    padding-right: 33px
}

@media screen and (min-width: 1024px) and (max-width: 1439px)  {
    .footer{
        height: 447px;
        width: 100%;
        background-color: #0087c3;
        font-family: 'Agency FB';
        font-size: 20px;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .footerContent{
        width: 904px;
    }
    
    .subBanner{
        padding-top: 30px;
        padding-bottom: 30px;
       
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px)  {
    .footer{
        height: auto;
        width: 100%;
        background-color: #0087c3;
        font-family: 'Agency FB';
        font-size: 16px;
        margin: auto;
        display: flex;
        justify-content: center;
        padding-bottom: 40px
    }

    .footerContent{
        width: 688px;
    }
    
    .subBanner{
        padding-top: 20px;
        padding-bottom: 20px;
       
    }
}

@media screen and (min-width: 320px) and (max-width: 767px)  {
    .footer{
        height: auto;
        width: 100%;
        background-color: #0087c3;
        font-family: 'Agency FB';
        font-size: 16px;
        margin: auto;
        display: flex;
        justify-content: center;
        padding-bottom: 20px
    }

    .footerContent{
        width: 280px;
    }

    .footer .img {
        height: 34px;
        width: 120px;
    }
    
    .subBanner{
        margin-top: 10px;
        padding-top: 0px;
        padding-bottom: 10px;
       
    }

    .footer .logoBtn{
        justify-content: space-between;
        align-items: center;
    }

    .footer .btnBuyer{
        display: none;
    }

    .footer .mobileBanner{
        flex-direction: column;
    }

    .footer .mobileBanner{
        flex-direction: column;
    }

    .footer .width3{
        width:unset
    }

    .footer .columnCenter{
        display: unset;
        align-items: unset;
        flex-direction: unset;
    }

    .footer .columnEnd{
        display: unset;
        align-items: unset;
        flex-direction: unset;
    }

    .footer .help{
        display: block !important;
    }

    .footer .mobileBorder{
        width: 100%;
        border-color: #ffffff85;
        border-style: none none solid none;
        border-width: 2px;
        padding-bottom: 10px;
        margin-bottom: 10px
    }

    .footer .clearBorder{
        border-style: none;
    }

    .footer .iconlist{
        margin-top: 0px
    }

    .footer .product {
        padding-right: unset;
    }

    .footer .story {
        padding-right: unset;
    }

    .footer .term{
        line-height: 0px;
    }

    
}