.dropMenuContent{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-family: 'Agency FB';
    margin: auto;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px
}

.switch{
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.client{
    margin: 0px;
}

.dropBorder{
    width: 100%;
    border-color: #0087c3;
    border-style: none none solid none;
    border-width: 1px;
    padding-top: 10px
}

.dropMenu a{
    color: rgba(0, 0, 0, 0.65)
}


@media screen and (min-width: 768px)  {
    .dropMenu{
        display: none
    }
}