

    .navBar {
        width: 100%;
        background-color: #0087c3;
    }

    .navBar a{
        color:white;;
    }
    .navBarContent{
        width: 1560px;
        height: 60px;
        justify-content: space-between;
        display: flex;
        font-family: 'Agency FB';
        margin: auto;
        /* margin-bottom: 43px */
    }
    
    .navBar p{
        margin-bottom: 0px
    }
    .logoImage{
        margin-right: 95px;
    }
    .navTitle {
        margin-right: 30px;
    }
    
    .location {
        margin-right: 30px; 
    }

    .locationIcon {
        width: 24px;
        margin-bottom: 5px
    }

    .navBar .iconfont{
        font-size: 24px
    }

    .navBarLeft {
        font-size: 20px;
        color: white;
        margin-left: 55px;
        display: flex;
        align-items: center;
    }
    .navBarRight {
        font-size: 20px;
        color: white;
        margin-right: 55px;
        display: flex;
        align-items: center;
    }
    .navBar .btnBuyer{
        width: 120px;
        height: 30px;
        font-size: 16px;
        font-family: 'Agency FB';
        color: #0087c3;
    }

@media screen and (min-width: 1024px) and (max-width: 1439px)  {
    .navBar {
        width: 100%;
        background-color: #0087c3;
    }
    .navBarContent{
        height: 60px;
        width: 1024px;
        justify-content: space-between;
        display: flex;
        font-family: 'Agency FB';
        margin: auto;
        /* margin-bottom: 43px */
    }
    
    .navBar p{
        margin-bottom: 0px
    }
    .logoImage{
        margin-right: 95px;
    }
    .navTitle {
        margin-right: 30px;
        
    }
    
    .location {
        margin-right: 30px; 
    }
    .locationIcon {
        width: 24px;
        margin-bottom: 5px
    }
    .navBarLeft {
        font-size: 20px;
        color: white;
        margin-left: 55px;
        display: flex;
        align-items: center;
    }
    .navBarRight {
        font-size: 20px;
        color: white;
        margin-right: 55px;
        display: flex;
        align-items: center;
    }
    .navBar .btnBuyer{
        width: 120px;
        height: 30px;
        font-size: 16px;
        font-family: 'Agency FB';
        color: #0087c3;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px)  {
    .navBar {
        background-color: #0087c3;
        width: 100%;
    }

    .navBarContent{
        width: 768px;
        height: 60px;
        justify-content: space-between;
        display: flex;
        font-family: 'Agency FB';
        margin: auto;
    }
    
    .navBar p{
        margin-bottom: 0px
    }
    .logoImage{
        margin-right: 20px;
    }
    .navTitle {
        margin-right: 20px;
        
    }
    
    .location {
        margin-right: 20px; 
    }
    .locationIcon {
        width: 24px;
        margin-bottom: 5px
    }
    .navBarLeft {
        font-size: 20px;
        color: white;
        margin-left: 20px;
        display: flex;
        align-items: center;
    }
    .navBarRight {
        font-size: 20px;
        color: white;
        margin-right: 20px;
        display: flex;
        align-items: center;
    }
    .navBar .btnBuyer{
        width: 120px;
        height: 30px;
        font-size: 16px;
        font-family: 'Agency FB';
        color: #0087c3;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px)  {
    .navBar {
        background-color: #0087c3;
        width: 100%;
        height: 60px;
        justify-content: space-between;
        display: flex;
        font-family: 'Agency FB';
        margin: auto;
    }
    
    .navBar p{
        margin-bottom: 0px
    }
    .logoImage{
        margin-right: 20px;
    }
    .navTitle {
        margin-right: 20px;
    }
    
    .location {
        margin-right: 20px; 
    }
    .locationIcon {
        width: 24px;
        margin-bottom: 5px
    }
    .navBarLeft {
        font-size: 20px;
        color: white;
        margin-left: 20px;
        display: flex;
        align-items: center;
    }
    .navBarRight {
        font-size: 20px;
        color: white;
        margin-right: 5px;
        display: flex;
        align-items: center;
    }
    .navBar .btnBuyer{
        width: 100px;
        height: 30px;
        font-size: 16px;
        font-family: 'Agency FB';
        color: #0087c3;
    }

    .navBar .navTitle{
        display: none;
    }

    .navBar .navTitleVisi{
        margin-right: 20px;
    }

    .navBar .img{
        height: 34px;
    }

    .navBar .iconfont{
        font-size: 18px
    }

    .navBar .btnBuyer{
        width: 100px;
    }

    .navBar .menuIcon{
        display: block !important;
        margin-left: 10px;
        margin-right: 10px;
    }
    .dropMenu{
        display: flex;
    }
}