/* css for register */

.main-register {
  font-family: Agency FB;
  display: flex;
  justify-content: center;
}

.reg-title {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  margin: 0px;
  margin-top: 45px;
  color: #0087c3;
}

.reg-sub-title {
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  margin: 0px;
  margin-top: 45px;
  color: #0087c3;
}

.reg-progress {
  display: flex;
  justify-content: center;
}

.reg-progress-content {
  width: 320px;
}

.ant-steps-small.ant-steps-horizontal:not(.ant-steps-label-vertical)
  .ant-steps-item {
  margin-right: 0px !important;
}

.ant-steps-item-title:after {
  background: #0087c3;

  margin-left: -20px;
  height: 1.5px;
}

.ant-steps-item-process .ant-steps-item-icon {
  background: #0087c3;
}

.ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title:after {
  background-color: #0087c3;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #fff;
}

.ant-steps-item-finish .ant-steps-item-icon {
  border-color: #fff;
  background-color: #0087c3;
}

/* form css */
.main-content {
  width: 720px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Agency FB";
}

.identifyBtn {
  width: 180px;
  height: 60px;
  border: 1px solid;
  border-radius: 4px;
  color: rgb(102, 102, 102);
  font-size: 30px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 135, 195, 0.4);
  box-shadow: 0px 0px 10px rgba(0, 135, 195, 0.4);
  border-color: rgba(0, 0, 0, 0);
  outline: none;
  text-align: center;
  line-height: 60px;
  background-color: white;
  font-family: "Agency FB";
  margin: 12px;
}

.identifyBtnSmall {
  font-size: 18px !important;
  line-height: 20px !important;
  white-space: pre-wrap;
}

.identify-profession {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.identify-profession .btn {
  display: flex;
  width: 50%;
  justify-content: center;
}

.step {
  width: 350px;
  margin-bottom: 15px;
}
.step label {
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  font-family: "Agency FB";
  color: rgb(93, 93, 93);
}

.step .controlBtn {
  display: flex;
  justify-content: space-between;
}

.step .ant-calendar-picker {
  width: 100%;
}

.Step-divider {
  height: 1px;
  border: none;
  width: 350px;
  margin-top: 42px;
  margin-bottom: 35px;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgb(0, 135, 195),
    rgba(0, 0, 0, 0)
  );
}

.modifyBar-Content {
    display: flex;
    justify-content: space-between;
  font-size: 24px;
  font-family: Agency FB;
  color: #0087c3;
}

.modifyBar .iconfont{
    font-size: 24px !important;
}

.confirmBtn{
    width: 100%
}
