.Sio-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.Sio-property-container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 1000px;
}
.Sio-information-container{
    margin-top: 30px;
    width: 1000px;
    border:1px #007eb6;
    box-shadow:0px 0px 8px rgba(0, 135, 195,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Sio-invite-container{
    margin-top: 30px;
    width: 850px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Sio-invite-detail-container{
    margin-top: 30px;
    width: 400px;
    height: 500px;
    border:1px #007eb6;
    box-shadow:0px 0px 8px rgba(0, 135, 195,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Sio-hint{
    color: black;
    font-size: 24px;
    font-family:'Agency FB';
    margin-top: 20px;
}
.Sio-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 135, 195);
    font-size: 30px;
    font-family:'Agency FB';
    margin-top: 60px;
}
.Sio-search-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 800px;
}
.Sio-invite-title{
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    color: rgb(0, 135, 195);
    font-family: 'Agency FB';
}
.Sio-invite-input-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 300px;
    margin-top: 50px;
}
.Sio-search{
   width: 400px;
}
.Sio-search2{
    width: 300px;
}
.Sio-search3{
    width: 200px;
}
.Sio-invite-button{
    margin-top: 30px;
    background-color: rgb(0, 135, 195);
    border: none;
    color: white;
    font-family: 'Agency FB';
    font-size: 20px;
}
.Sio-invite-button:hover{
    background-color:rgb(0,110,160);
    border: none;
    color: white;
}
.ant-btn span{
    font-family: 'Agency FB';
    font-size: 20px;
} 
.Sio-text{
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    font-family: 'Agency FB';
    color: rgb(0, 135, 195);
    margin-top: 10px;
    cursor: pointer;
}
.Sio-text:hover{
    color:rgb(0,110,160);
}
.Sio-tab{
    width: 800px;
}

.Sio-info{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
}
.Sio-info2{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
}
.Sio-info3{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
}
.Sio-name{
    font-size: 20px;
    color: rgb(93, 93, 93);
    font-family: 'Agency FB';
}
.Sio-icon{
    font-size: 20px;
    margin-left: 10px;
}
.Sio-add-icon{
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}
.Sio-editor{
    display: flex;
    align-items: center;
}
.Sio-button{
    background-color: rgb(0, 135, 195);
    border: none;
    color: white;
    font-family: 'Agency FB';
    font-size: 20px;
}
.Sio-button:hover{
    background-color:rgb(0,110,160);
    border: none;
    color: white;
}

.ant-btn-primary{
    background-color: rgb(0, 135, 195);
    border: none;
}
.ant-btn-primary:hover{
    background-color:rgb(0,110,160);
    border: none;
}

.Sio-title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}
.Sio-title2-container{
    margin-top: 30px;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
}
.Sio-upload{
    width: 120px;
    height: 30px;
    margin-right: 30px;
}
.Sio-upload-icon{
    cursor: pointer;
    font-size: 22px;
    color: rgb(0, 135, 195);
}
Sio-upload-icon:hover{
    color: rgb(0,110,160);
}
.Sio-confirm{
    margin-top: 50px;
    color: rgb(0, 135, 195);
    font-size: 24px;
    font-family:'Agency FB';
}
.Sio-update{
    margin-top: 50px; 
    color: rgb(0, 135, 195);
    font-size: 18px;
    font-family:'Agency FB';
}
.Sio-info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    margin-top: 30px;
}
.Sio-lable{
    font-size: 20px;
    color: rgb(93, 93, 93);
    font-family:'Agency FB';
}
.Sio-input-container{
    display:flex;
    flex-direction: row;
}
.Sio-input-left-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}
.Sio-input{
    width: 120px;
    height: 30px;
}
.Sio-add{
    margin-top: 50px;
    margin-bottom: 100px;
    width: 100px;
    height: 30px;
}
.Sio-button-container{
    display: flex;
    justify-content: center;
    width: 600px;
}
.Sio-btn-conatiner{
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.ant-select-selection--single{
    width: 120px;
}
.Sio-modify{
    color: rgb(0, 135, 195);
    font-size: 24px;
    font-family:'Agency FB';
}
.Sio-info2-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin-top: 30px;
}
.Sio-content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    margin-top: 20px;
}
.Sio-divider{
    width: 80%;
    height:1px;
    border:none;
    margin-top: 30px;
    background: linear-gradient(to left,rgba(0,0,0,0), rgb(0,135,195),rgba(0,0,0,0));
}
.Sio-progress{
    color: rgb(0, 135, 195);
    font-size: 20px;
    font-family:'Agency FB';
}
.information-container{
    margin-top: 30px;
    width: 600px;
    border:1px #007eb6;
    box-shadow:0px 0px 8px rgba(0, 135, 195,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information-container2{
    width: 300px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.information-title-container{
    width: 480px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
.information-bottom{
    padding-bottom: 50px;
}
.information-title{
    margin-top: 50px;
   font-size: 24px;
   font-family:'Agency FB';
   color: rgb(0, 135,195)
}
.information-title-two{
    margin-top: 30px;
   font-size: 20px;
   font-family:'Agency FB';
   color: rgb(0, 135,195);
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.information-lable{
    font-size: 20px;
    font-family:'Agency FB';
    color: rgb(93, 93,93);
}
.information-lable:hover{
    color: rgb(0, 135, 195);
    cursor: pointer;
}
.information-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    margin-top: 30px;
}
.information-item-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    margin-top: 30px;
    margin-bottom: 60px;
}
.information-step-one{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 500px;
    margin-top: 30px;
}
.information-step-one-bottom{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 500px;
    margin-top: 30px;
    margin-bottom: 60px;
}
.information-step_two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    margin-top: 30px;
}
.information-step_Three{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.information-right{
    font-size: 20px;
    font-family:'Agency FB';
    color: rgb(0, 135,195);
    cursor: pointer;
}
.information-lable_title{
    font-size: 20px;
    font-family:'Agency FB';
    color: rgb(0, 135,195);
}
.information-button-container{
    margin-top: 50px;
    margin-bottom: 60px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.information-return-container{
    margin-top: 30px;
    margin-bottom: 60px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.information-btn3-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 60px;
}
.information-sub-title{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family:'Agency FB';
    color: rgb(0, 135,195);
    margin-top: 30px;
}
.Information-warn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family:'Agency FB';
    color: rgb(216, 30,6);
    margin-top: 30px;
}
.Information-warn span{
    margin-left: 10px;
}
.Step-divider{
    height:1px;
    border:none;
    width: 500px;
    margin-top: 42px;
    background: linear-gradient(to left,rgba(0,0,0,0), rgb(0,135,195),rgba(0,0,0,0));
}
.information-input-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.information-input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
}
.information-content-cotainer{
    display: flex;
    justify-content: center;
    width: 500px;
}
.Sio-price-container{
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.information-hint{
    font-size: 18px;
    font-family: 'Agency FB';
    margin-top: 20px;
    line-height: 24px;
}
.information-list{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    background-color: rgb(0, 135, 195);
}
.information-list-item-container1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    background-color: rgb(153, 153, 153);
}
.information-list-item-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    background-color: rgb(255, 255, 255);
}
.information-list-item{
    display: flex;
    align-items: center;
    color: rgb(93, 93, 93);
    font-size: 18px;
    font-family: 'Agency FB';
    margin-left: 20px;
    margin-right: 20px;
}
.information-list-title{
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    font-family: 'Agency FB';
    margin-left: 20px;
    margin-right: 20px;
}
.information-checkbox{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.information-btn-container{
    width: 400px;
    margin-top: 50px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
}
.information-button{
    color: white;
   font-size: 20px;
   background-color: rgb(0, 135, 195);
   border: none;
}
.information-button:hover{
    background-color:rgb(0,110,160);
    border: none;
}
.information-button-left{
    width: 220px;
   color: white;
   font-size: 20px;
   background-color: rgb(0, 135, 195);
   border: none;
}
.information-button-left:hover{
    background-color:rgb(0,110,160);
    border: none;
}
.information-button-right{
    margin-left: 10px;
    width: 140px;
    color: white;
    font-size: 20px;
    background-color: rgb(0, 135, 195);
    border: none;
}
.information-button-right:hover{
    background-color:rgb(0,110,160);
    border: none;
}
.information-button2{
    color: white;
    font-size: 20px;
    background-color: rgb(0, 135, 195);
    border: none;
}
.information-button2:hover{
    background-color:rgb(0,110,160);
    color: white;
    border: none;
}
.information-warning-hint-one{
    font-family: 'Agency FB';
    font-size: 20px;
    color: rgb(93, 93, 93);
}
.information-warning-hint-two{
    font-family: 'Agency FB';
    font-size: 20px;
    color: rgb(93, 93, 93);
    margin-top: 30px;
}
.information-send-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-top: 50px;
}
.information-send-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 60px;
}
.information-note-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 60px;
}
.information-text{
    font-size: 20px;
    color: rgb(0, 135, 195);
    font-family: 'Agency FB';
}
.information-text-container{
    width: 500px;
    display: flex;
    justify-content: flex-end;
}
.information-textArea{
    width: 160px;
}
.information-invite-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
}
.information-invite-input{
    width: 150px;
    height: 30px;
    margin-top: 20px;
}
.Sio-checkbox-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}
.Sio-detail-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 720px;
    margin-bottom: 60px;
    margin-top: 50px;
}
.Sio-left-detail-container{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
}
.Sio-right-detail-container{
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 350px;
    justify-content: flex-start;
}
.Sio-image{
    background-color: rgb(0, 135, 195);
    height: 320px;
}
.Sio-image-description{
    background-color: rgb(0,110,160);
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Sio-house-detail-container{
    display: flex;
    flex-direction: column;
}
.Sio-detail-title{
    font-size: 20px;
    font-family: 'Agency FB';
    color: rgb(93,93,93);
    font-weight: bold;
}
.Sio-detail{
    font-size: 16px;
    font-family: 'Agency FB';
    color: rgb(93,93,93);
}
.Sio-detail-title-top{
    margin-top: 30px;
}
.Sio-detail-top{
    margin-top: 10px;
}
.Sio-detail-button{
    margin-top: 50px;
}
.Sio-image-title-top{
    font-size: 20px;
    font-family: 'Agency FB';
    color: white;
}
.Sio-image-title-bottom{
    font-size: 16px;
    font-family: 'Agency FB';
    color: white;
}

@media screen and (max-width: 768px) {
    .Sio-search{
        width: 300px;
     }
     .Sio-text{
        width: 300px;
    }
    .Sio-info{
        margin-top: 5px;
        width: 300px;
    }
    .Sio-name{
        font-size: 14px;
    }
    .Sio-icon{
        font-size: 14px;
        margin-left: 5px;
    }
    .Sio-title-container{
        width: 300px;
    }
    .Sio-confirm{
        font-size: 18px;
    }
    .Sio-update{
        font-size: 14px;
    }
    .Sio-info-container{
        width: 300px;
    }
    .Sio-input-left-container{
        width: 120px;
    }
    .Sio-content-container{
        width: 300px;
    }
    .Sio-title2-container{
        width: 300px;
    }
}