
.Identify-container{
	width: 500px;
	background-color: white;
    position:absolute;
	left:0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	height: 350px;
}
.Identify-title{
  margin-top: 45px;
  color: rgb(0,135,195);
  font-size: 30px;
  font-family:'Agency FB';
}
.Identify-left{
  margin-top: 40px;
  margin-right: 16px;
  width: 180px;
  height: 60px;
  border:1px solid;
  border-radius:4px;
  color: rgb(102,102,102);
  font-size: 30px;
   box-shadow: 0px 0px 10px rgba(0,135,195,0.4);
  border-color:rgba(0,0,0,0);
  outline: none;
  text-align: center;
  line-height: 60px;
  background-color: white;
  font-family:'Agency FB';
}
.Identify-left:hover{
  color: rgb(0,135,195);
  border-color: rgb(0,135,195);
  box-shadow: 0 0 0 rgba(0,0,0,0);
}
.Identify-right{
  margin-top: 40px;
  width: 180px;
  height: 60px;
  border:1px solid;
  border-radius:4px;
  color: rgb(102,102,102);
  font-size: 30px;
  box-shadow: 0px 0px 10px rgba(0,135,195,0.4);
  border-color:rgba(0,0,0,0);
  outline: none;
  text-align: center;
  background-color: white;
  line-height: 60px;
  font-family:'Agency FB';
}
.Identify-right:hover{
  color: rgb(0,135,195);
  border-color: rgb(0,135,195);
  box-shadow: 0 0 0 rgba(0,0,0,0);
}
.Identify-left-bottom{
  margin-top: 20px;
  margin-right: 16px;
  width: 180px;
  height: 60px;
  border:1px solid;
  border-radius:4px;
  color: rgb(102,102,102);
  font-size: 30px;
   box-shadow: 0px 0px 10px rgba(0,135,195,0.4);
  border-color:rgba(0,0,0,0);
  outline: none;
  text-align: center;
  line-height: 60px;
  background-color: white;
  font-family:'Agency FB';
}
.Identify-left-bottom:hover{
  color: rgb(0,135,195);
  border-color: rgb(0,135,195);
  box-shadow: 0 0 0 rgba(0,0,0,0);
}
.Identify-right-bottom{
  margin-top: 20px;
  width: 180px;
  height: 60px;
  border:1px solid;
  border-radius:4px;
  color: rgb(102,102,102);
  font-size: 24px;
  box-shadow: 0px 0px 10px rgba(0,135,195,0.4);
  border-color:rgba(0,0,0,0);
  outline: none;
  text-align: center;
  background-color: white;
  font-family:'Agency FB';
  line-height: 28px;
}
.Identify-right-bottom:hover{
  color: rgb(0,135,195);
  border-color: rgb(0,135,195);
  box-shadow: 0 0 0 rgba(0,0,0,0);
}