*{
    margin:0;
    padding:0;
}
.container-box{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.python-container-box{
    width:720px;
    display:flex; 
    margin-top:100px;  
    flex-direction: column;
    font-family: 'Agency FB';
}
.python-box{
    font-size:40px;
    color:rgb(51,51,51);
}
.job-box{
    font-size:24px;
    color:RGB(51,51,51);
    margin-top:50px;
}
.about-box{
    display:flex; 
    flex-direction: column;
    margin-top:50px;
}
.about-head{
    font-size:30px;
    color:RGB(51,51,51);
    font-weight: bold;
}
.about-content{
    font-size:24px;
    color:RGB(102,102,102);
    margin-top:10px;
}
.requirement-box{
    display:flex; 
    flex-direction: column;
    margin-top:50px;
}
.requirement-head{
    font-size:30px;
    color:RGB(51,51,51);
    font-weight: bold;
}
.requirement-list{
    display:flex; 
    flex-direction: column;
    margin-top:10px;
    margin-left:25px;
    line-height: 50px;
}
.list_one{
    font-size:24px;
    color:rgb(102,102,102);
}
.how-box{
    display:flex; 
    flex-direction: column;
    margin-top:100px;
}
.how-head{
    font-size:40px;
    color:RGB(51,51,51);
}
.how-content{
    font-size:30px;
    color:RGB(102,102,102);
    margin-top:30px;
    line-height: 50px;
    width:865px;
}
.link-box{
    font-size:30px;
    color:RGB(0,135,195);
}
.python-chiness-container-box{
    width:720px;
    display:flex; 
    margin-top:200px;  
    flex-direction: column;
    font-family: '微软雅黑';
    margin-bottom: 50px
}
.python-chiness-box{
    font-size:40px;
    color:rgb(51,51,51);
}
.job-chiness-box{
    font-size:24px;
    color:RGB(51,51,51);
    margin-top:50px;
}
.about-chiness-box{
    display:flex; 
    flex-direction: column;
    margin-top:50px;
}
.about-chiness-head{
    font-size:30px;
    color:RGB(51,51,51);
    font-weight: bold;
}
.about-chiness-content{
    font-size:24px;
    color:RGB(102,102,102);
    margin-top:10px;
}
.requirement-chiness-box{
    display:flex; 
    flex-direction: column;
    margin-top:50px;
}
.requirement-chiness-head{
    font-size:30px;
    color:RGB(51,51,51);
    font-weight: bold;
}
.requirement-chiness-list{
    display:flex; 
    flex-direction: column;
    margin-top:10px;
    margin-left:25px;
    line-height: 50px;
}
.list-chiness_one{
    font-size:24px;
    color:rgb(102,102,102);
}
.how-chiness-box{
    display:flex; 
    flex-direction: column;
    margin-top:100px;
}
.how-chiness-head{
    font-size:40px;
    color:RGB(51,51,51);
}
.how-chiness-content{
    font-size:30px;
    color:RGB(102,102,102);
    margin-top:30px;
    line-height: 50px;
    width:865px;
}
.link-chiness-box{
    font-size:30px;
    color:RGB(0,135,195);
}