
.about{
    width: 100%;
    font-family: 'Agency FB';
}

.bannerContent{
    background-size: cover;
    width: 100%;
    background-color: #0087c3;
    display: flex;
    justify-content: center;
    background-image: url('http://cdn.eastnsun.com.s3-website-ap-southeast-2.amazonaws.com/resources/images/company-1920_03.png');
   
}

.aboutBanner{
    width: 1340px;
    height:700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white
}

.bannerMainTitle{
    font-size: 100px;
    line-height: 100px;
}

.bannerSubTitle{
    font-size: 60px;
    line-height: 60px;
}

.about .img{
    width:100%;
    height:700px
}

.textContent{
    width: 100%;
    display: flex;
    justify-content: center;
}

.aboutCompany{
    width: 1340px;
}

.aboutCompany{
    margin-top: 40px;
}
.mainTitle{
    text-align: center;
    font-size: 50px;
    margin: 0px;
    font-family: 'Agency FB B';
}

.about .subTitle{
    font-size: 40px;
    margin: 0px;
    line-height: 40px;
    margin-bottom: 20px;
    font-family: 'Agency FB B';
}

.about .text{
    font-size: 30px;
    margin: 0px;
    line-height: 47px;
    margin-bottom: 30px;
}

.teamContent{
    width: 100%;
    display: flex;
    justify-content: center;
}

.aboutTeam{
    background-color: #f2fbff;
    display: flex;
    width: 1340px;
    flex-direction: column;
}

.teamPicture{
    margin-bottom: 30px;
    background-color: white;
    margin-right: 5px
}
.teamPicture .img{
    height: 400px;
    width: 330px;
}
.pictureList{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 40px
}

.teamPicture .name{
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin: 0px;
    margin-bottom: 16px;
    margin-top: 13px;
}

.teamPicture .companyTitle{
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    margin: 0px;
    margin-bottom: 16px;
}

.aboutTeam .subTitle{
    text-align: center;
    font-size: 24px;
    margin: 0px;
    line-height: 24px;
    margin-bottom: 40px;
}

.aboutTeamTitle{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1024px) and (max-width: 1439px)  {
    .aboutBanner{
        width: 904px;
        height:540px;
    }

    .bannerMainTitle{
        font-size: 80px;
        line-height: 80px;
    }
    
    .bannerSubTitle{
        font-size: 50px;
        line-height: 50px;
    }

    .aboutCompany{
        width: 904px;
    }
    .aboutTeam{
        width: 904px;
    }

    .teamPicture{
        background-color: white;
        margin-right: 0px
    }
    .teamPicture .img{
        height: 360px;
        width: 290px;
    }
    .pictureList{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 40px
    }
    
    .teamPicture .name{
        text-align: center;
        font-size: 30px;
        line-height: 30px;
        margin: 0px;
        margin-bottom: 16px;
        margin-top: 13px;
    }
    
    .teamPicture .companyTitle{
        text-align: center;
        font-size: 16px;
        line-height: 16px;
        margin: 0px;
        margin-bottom: 16px;
    }
    
    .aboutTeam .subTitle{
        text-align: center;
        font-size: 24px;
        margin: 0px;
        line-height: 24px;
        margin-bottom: 40px;
    }
    
    .aboutTeamTitle{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px)  {
    .aboutBanner{
        width: 688px;
        height:400px;
    }
    .bannerMainTitle{
        font-size: 60px;
        line-height: 60px;
    }

    .teamPicture .companyTitle{
        font-size: 13px;
        line-height: 13px;
    }
    
    .bannerSubTitle{
        font-size: 40px;
        line-height: 40px;
    }
    .pictureList{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 30px
    }

    .teamPicture{
        background-color: white;
        margin-right: 0px
    }

    .aboutCompany{
        width: 688px;
    }

    .aboutTeam{
        width: 688px;
    }

    .teamPicture .img{
        height: 260px;
        width: 210px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px)  {
    .aboutBanner{
        width: 280px;
        height:180px
    }

    .aboutCompany{
        width: 280px;
    }

    .bannerMainTitle{
        font-size: 30px;
        line-height: 30px;
    }
    
    .bannerSubTitle{
        font-size: 20px;
        line-height: 20px;
    }

    .mainTitle{
        font-size: 26px;
        margin: 0px;
        margin-bottom: 20px
    }

    .about .subTitle{
        font-size: 24px;
        margin: 0px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .pictureList{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 20px
    }

    .teamPicture{
        background-color: white;
        margin-right: 0px
    }

    .aboutTeam{
        width: 280px;
    }

    .teamPicture .img{
        height: 160px;
        width: 136px;
    }

    .about .text{
        font-size: 18px;
        margin: 0px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    
    .teamPicture .name{
        font-size: 20px;
        line-height: 30px;
        margin: 0px;
        margin-bottom: 7px;
        margin-top: 12px;
    }
    
    .teamPicture .companyTitle{
        font-size: 13px;
        line-height: 13px;
        margin: 0px;
        margin-bottom: 16px;
    }
}