/* .bannersec{
    display: flex;
    height: 700px;
    margin-top: 43px;
    width: 1340px;
    padding-top: 122px;
    font-family: 'Agency FB';
    justify-content: space-between;
    margin: auto;
}

.bannersecTitle{
    display: flex;
    align-items: center;
}

.bannersec .bannersecContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
}

.bannersec .img{

}

.bannersec .title-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bannersec .title{
    font-size: 100px;
    margin: 0px
}

.bannersec .subTitle{
    font-size: 60px;
    margin: 0px
} */


    .bannersec{
        display: flex;
        height: 380px;
        width: 1024px;
        padding-top: 50px;
        font-family: 'Agency FB';
        justify-content: space-between;
        margin: auto;
        margin-bottom: 73px;
    }

    .bannersecTitle{
        display: flex;
        align-items: center;
    }

    .bannersec .bannersecContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 380px;
    }

    .bannersec .img{
        height: 140px
    }
    .bannersec .title{
        font-size: 60px;
        margin: 0px;
    }

    .bannersec .title-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bannersec .subTitle{
        font-size: 40px;
        margin: 0px;
        width: 220px;
        text-align: center;
    }
    


@media screen and (min-width: 768px) and (max-width: 1023px)  {
    .bannersec{
        display: flex;
        height: 220px;
        width: 688px;
        padding-top: 50px;
        font-family: 'Agency FB';
        justify-content: space-between;
        margin: auto;
        margin-bottom: 30px;
    }
    
    .bannersec .img{
        height: 58px;
        margin-bottom: 10px
    }
    .bannersec .title{
        font-size: 40px;
        margin: 0px;
    }
    .bannersec .subTitle{
        font-size: 20px;
        margin: 0px;
        width: 220px;
        text-align: center;
    }
    
}

@media screen and (min-width: 320px) and (max-width: 767px)  {
    .bannersec{
        display: flex;
        align-items: center;
        width: 320px;
        height: auto;
        padding-top: 0px;
        font-family: 'Agency FB';
        flex-direction: column;
        margin: auto;
        margin-bottom: 30px;
    }
    .bannersecContent{
        margin-bottom: 20px
    }
    .bannersec .img{
        height: 58px
    }
    .bannersec .title{
        font-size: 40px;
        margin: 0px;
    }
    .bannersec .subTitle{
        font-size: 20px;
        margin: 0px;
        width: 220px;
        text-align: center;
    }
    
}