/* .banner{
    display: flex;
    flex-direction: space-between;
    background-color: #f2fbff;
    height: 614px;
    width: 1340px;
    padding-top: 78px;
    font-family: 'Agency FB';
    margin: auto;
    margin-top: 43px;

}
.bannerImage{
    margin: 0px 70px 78px 40px;
}
.bannerImg{
    height: 458px;
}

.bannerTitle{
    display: flex;
    align-items: center;
}

.bannerTitle{
    font-size: 80px;
    display: flex;
}
 */



    .banner{
        display: flex;
        flex-direction: space-between;
        background-color: #f2fbff;
        height: 380px;
        width: 904px;
        padding-top: 68px;
        font-family: 'Agency FB';
        margin: auto;
        margin-bottom: 23px;
        margin-top: 30px;
    }

    .bannerImage{
        margin: 0px 70px 78px 40px;
    }
    
    .bannerImg{
        height: 238px;
        width: 337px;
    }

    .bannerTitle{
        display: flex;
        align-items: center;
        font-size: 60px;
    }




@media screen and (min-width: 768px) and (max-width: 1023px)  {
    .banner{
        display: flex;
        flex-direction: space-between;
        background-color: #f2fbff;
        height: 292px;
        width: 688px;
        padding-top: 58px;
        font-family: 'Agency FB';
        margin: auto;
        margin-bottom: 20px;
        margin-top: 28px;
    }
    
    .bannerImg{
        height: 172px;
        width: 244px;
    }

    .bannerTitle{
        font-size: 40px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px)  {
    .banner{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        background-color: unset;
        height: 230px;
        width: 320px;
        padding-top: 58px;
        font-family: 'Agency FB';
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .bannerImg{
        height: 130px;
        width: 188px;
    }

    .bannerTitle{
        font-size: 20px;
        line-height: 25px;
        width: 140px;
        margin-bottom: 10px;
        text-align: center;
    }

    .bannerImage{
        margin: 10px auto 30px auto;
    }
}