.Login-body{
  display: flex;
  justify-content: center;
}
.Login-container{
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}
.Login-logo{
  align-items: center;
  display: flex;
  justify-content: center;
}
.Login {
  font-size: 30px;
  font-family: 'Agency FB';
  color: rgb(0,135,195);
  margin-top: 28px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.Login-logo {
  margin-top: 42px;
}
.Login-divider{
  height:1px;
  border:none;
  width: 80%;
  margin-top: 42px;
  background: linear-gradient(to left,rgba(0,0,0,0), rgb(0,135,195),rgba(0,0,0,0));
}
.Login-email-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Login-email{
  margin-top: 36px;
  font-size: 30px;
  font-family: 'Agency FB';
  color: rgb(93,93,93);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 360px;
}
.Login-email-input{
  width: 360px;
  height: 46px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Login-password-container{
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Login-password{
 margin-top: 22px;
  font-size: 30px;
  font-family: 'Agency FB';
  color: rgb(93,93,93);
}
.Login-password-input{
 width: 360px;
 height: 46px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Login-pwd{
  width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Login-forget-password{
  margin-top: 22px;
  font-family: 'Agency FB';
  font-size:20px;
}
.Login-submit-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Login-submit{
  margin-top: 50px;
  margin-bottom: 60px;
  width: 360px;
  font-family: 'Agency FB';
  font-size:26px;
}

@media screen and (max-width: 768px) {
 
}