.Identify-container {
  width: 500px;
  background-color: white;
  margin: auto;
}

.Identify-Btn {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Identify-title {
  display: flex;
  justify-content: center;
  color: rgb(0, 135, 195);
  font-size: 30px;
  margin-top: 45px;
  margin-bottom: 40px;
  font-family: "Agency FB";
}

.Identify-left {
  margin-left: 60px;
  margin-bottom: 20px;
  width: 180px;
  height: 60px;
  border: 1px solid;
  border-radius: 4px;
  color: rgb(102, 102, 102);
  font-size: 30px;
  box-shadow: 0px 0px 10px rgba(0, 135, 195, 0.4);
  border-color: rgba(0, 0, 0, 0);
  outline: none;
  text-align: center;
  line-height: 60px;
  background-color: white;
  font-family: "Agency FB";
}

.Identify-left:hover {
  color: rgb(0, 135, 195);
  border-color: rgb(0, 135, 195);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.Identify-right {
  margin-right: 60px;
  margin-bottom: 20px;
  width: 180px;
  height: 60px;
  border: 1px solid;
  border-radius: 4px;
  color: rgb(102, 102, 102);
  font-size: 30px;
  box-shadow: 0px 0px 10px rgba(0, 135, 195, 0.4);
  border-color: rgba(0, 0, 0, 0);
  outline: none;
  text-align: center;
  background-color: white;
  line-height: 60px;
  font-family: "Agency FB";
}
.Identify-right:hover {
  color: rgb(0, 135, 195);
  border-color: rgb(0, 135, 195);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.Identify-small {
  font-size: 24px;
  line-height: 28px;
}

