.Sio-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.Sio-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 135, 195);
    font-size: 30px;
    font-family:'Agency FB';
    margin-top: 60px;
}
.Sio-search-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 100px;
}
.Sio-search{
   width: 500px;
}
.Sio-text{
    width: 500px;
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-family: 'Agency FB';
    color: rgb(0, 135, 195);
    margin-top: 10px;
    cursor: pointer;
}
.Sio-title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
}
.Sio-confirm{
    display: flex;
    margin-top: 50px;
    color: rgb(0, 135, 195);
    font-size: 24px;
    font-family:'Agency FB';
}
.Sio-update{
    display: flex;
    margin-top: 50px; 
    color: rgb(0, 135, 195);
    font-size: 18px;
    font-family:'Agency FB';
}
.Sio-info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    margin-top: 30px;
}
.Sio-lable{
    font-size: 20px;
    color: rgb(93, 93, 93);
    font-family:'Agency FB';
}
.Sio-input-container{
    display:flex;
    flex-direction: row;
}
.Sio-input-left-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
}
.Sio-input{
    width: 120px;
    height: 30px;
}
.Sio-add{
    margin-top: 50px;
    margin-bottom: 100px;
    width: 200px;
    height: 30px;
}
.Sio-modify{
    color: rgb(0, 135, 195);
    font-size: 24px;
    font-family:'Agency FB';
}
.Sio-info2-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    margin-top: 30px;
}
.Sio-content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}