body {
  margin: 0;
  padding: 0;
  font-family: 'Agency FB' ;
}

@font-face{
  font-family: 'Agency FB';
  src : url(http://cdn.eastnsun.com.s3-website-ap-southeast-2.amazonaws.com/resources/AGENCYR.TTF);
}

@font-face{
  font-family: 'Agency FB B';
  src : url(http://cdn.eastnsun.com.s3-website-ap-southeast-2.amazonaws.com/resources/AGENCYB.TTF);
}

@font-face {
  font-family: 'iconfont';  /* project id 646769 */
  src: url('//at.alicdn.com/t/font_646769_t1ngy8gh0nmqjjor.eot');
  src: url('//at.alicdn.com/t/font_646769_t1ngy8gh0nmqjjor.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_646769_t1ngy8gh0nmqjjor.woff') format('woff'),
  url('//at.alicdn.com/t/font_646769_t1ngy8gh0nmqjjor.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_646769_t1ngy8gh0nmqjjor.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;}

  .columnCenter {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .columnStart{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .columnEnd{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  .center{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hideDiv{
    display: none;
  }