*{
    margin:0;
    padding:0;
}
.careers-list-container-box{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.careers-list-careers-container-box{
    font-family:  'Agency FB';
    width:720px;
    display:flex; 
    margin-top:100px;  
    flex-direction: column;
}
.careers-list-open-box{
    font-size: 40px;
    color:rgb(51,51,51);
    margin-left:20px;
}
.careers-list-nav-box{
    margin-top:50px;
    display:flex; 
    flex-direction: row; 
    justify-content:space-around;
}
.careers-list-role-box{
    width:453px;
    font-size: 30px;
    color:rgb(51,51,51);
    display:flex; 
    justify-content:flex-start;
    margin-left:20px;
}

.careers-list-list-01{
    margin-top:50px;
    display:flex; 
    height:40px;
    flex-direction: row; 
    justify-content:space-around;
    background-color:#f2fbff;
}
.careers-list-list-01:hover{
    background-color:rgb(0,135,195);
}
.careers-list-list-01:hover .careers-list-python-box{
    color:rgb(255,255,255);
}
.careers-list-python-box{
    width:453px;
    font-size: 24px;
    color:rgb(102,102,102);
    display:flex; 
    justify-content:flex-start;
    margin-left:20px;
}
.careers-list-list-02{
    margin-top:20px;
    display:flex; 
    height:40px;
    flex-direction: row; 
    justify-content:space-around;
    background-color: #f2fbff;
}
.careers-list-list-02:hover{
    background-color:rgb(0,135,195);
}
.careers-list-list-02:hover .careers-list-golang-box{
    color:rgb(255,255,255);
}
.careers-list-golang-box{
    width:453px;
    font-size: 24px;
    color:rgb(102,102,102);
    display:flex; 
    justify-content:flex-start;
    margin-left:20px;
}
.careers-list-careers-chiness-container-box{
    width: 720px;
    display:flex; 
    margin-top:100px;  
    margin-bottom:200px;  
    flex-direction: column;
    font-family:'微软雅黑';
}
.careers-list-open-chiness-box{
    font-size: 30px;
    color:rgb(51,51,51);
    margin-left:20px;
}
.careers-list-nav-chiness-box{
    margin-top:50px;
    display:flex; 
    flex-direction: row; 
    justify-content:space-around;
}
.careers-list-role-chiness-box{
    width:453px;
    font-size: 24px;
    color:rgb(51,51,51);
    display:flex; 
    justify-content:flex-start;
    margin-left:20px;
}

.careers-list-list-chiness-01{
    margin-top:50px;
    display:flex; 
    height:40px;
    line-height: 40px;
    flex-direction: row; 
    justify-content:space-around;
    background-color:#f2fbff;
}
.careers-list-list-chiness-01:hover{
    background-color:rgb(0,135,195);
}
.careers-list-list-chiness-01:hover .careers-list-python-chiness-box{
    color:rgb(255,255,255);
}
.careers-list-python-chiness-box{
    width:453px;
    font-size: 20px;
    color:rgb(102,102,102);
    display:flex; 
    justify-content:flex-start;
    margin-left:20px;
}
.careers-list-list-chiness-02{
    margin-top:20px;
    display:flex; 
    height:40px;
    line-height: 40px;
    flex-direction: row; 
    justify-content:space-around;
    background-color: #f2fbff;
}
.careers-list-list-chiness-02:hover{
    background-color:rgb(0,135,195);
}
.careers-list-list-chiness-02:hover .careers-list-golang-chiness-box{
    color:rgb(255,255,255);
}
.careers-list-golang-chiness-box{
    width:453px;
    font-size: 20px;
    color:rgb(102,102,102);
    display:flex; 
    justify-content:flex-start;
    margin-left:20px;
}