.Code-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Code-one-container{
    margin-top: 50px;
    display: flex;
    width: 600px;
    height: 353px;
    flex-direction: column;
}
.Code-one-title-container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 135, 195);
    align-items: center;
    height: 88px;
}
.Code-one-left-container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.Code-top-title{
    font-size: 20px;
    font-family: 'Agency FB';
    color: white;
}
.Code-bottom-title{
    font-size: 30px;
    font-family: 'Agency FB';
    color: white;
}
.Code-left-title{
    font-size: 50px;
    font-family: 'Agency FB';
    color: white;
    margin-right: 20px;
}
.Code-one-content-container{
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    font-family: 'Agency FB';
    color: rgb(51, 51, 51);
}
.Code-one-bottom-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
    font-family: 'Agency FB';
    color: rgb(0, 135, 195);
    margin-top: 150px;
}
.Code-one-bottom-container:hover{
    cursor: pointer;
    color: rgb(0,110,160);
}
.Code-two-container{
    display: flex;
    width: 600px;
    flex-direction: column;
}
.Code-two-title{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Agency FB';
    color: rgb(0, 135, 195);
    margin-top: 50px;
}
.Code-two-content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Code-modfiy-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 500px;
    margin-bottom: 20px;
}
.Code-modfiy{
    font-size: 24px;
    font-family: 'Agency FB';
    color: rgb(51, 51, 51);
}
.Code-modify-icon{
    color: rgb(0, 135, 195);
    font-size: 20px;
}
.Code-input-name{
    font-size: 24px;
    font-family: 'Agency FB';
    color: rgb(102, 102, 102);
}
.Code-input{
    width: 330px;
}
.Code-bottom{
    margin-top: 50px;
    font-size: 24px;
    font-family: 'Agency FB';
    color: rgb(102, 102, 102);
}
.Code-bottom:hover{
    cursor: pointer;
    color: rgb(0, 135, 195);
}
.Code-input-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}
.Code-four-content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 380px;
}
.Code-four-input{
    width: 200px;
}
.Code-attention-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 330px;
}
.Code-hint{
    font-size: 18px;
    font-family: 'Agency FB';
    color: rgb(102, 102, 102);
}
.Code-hint-left{
    margin-left: 10px;
}
.Code-hint-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 300px;
}
.Code-title{
    font-size: 20px;
    font-family: 'Agency FB';
    color: rgb(51, 51, 51);
    font-weight: bold;
}
.Code-commission-title{
    font-size: 20px;
    font-family: 'Agency FB';
    color: rgb(51, 51, 51);
}
.Code-price-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.Code-price-width{
    width: 420px;
}
.Code-price2-width{
    width: 500px;
}
.Code-price-input{
    width: 100px;
}
.Code-note-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.Code-note-hight{
    margin-top: 20px;
}
.Code-table-container{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 550px;
    height: 400px;
}
.Code-table{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Code-table-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Code-table-title{
    font-size: 24px;
    font-family: 'Agency FB';
    color: rgb(51, 51, 51);
    font-weight: bold;
}
.Code-table-input{
    margin-top: 10px;
    width: 500px;
}
.Code-table-lable{
    font-size: 20px;
    font-family: 'Agency FB';
    color: rgb(102, 102, 102);
}
.Code-left-input{
    width: 220px;
}
.Code-right-input{
    width: 150px;
}
.Code-left-container{
    display: flex;
    flex-direction: column;
}
.Code-left-row-container{
    display: flex;
    flex-direction: row;
    width: 230px;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.Code-left-bottom-row-container{
    display: flex;
    flex-direction: row;
    width: 230px;
    align-items: center;
    justify-content: flex-end;
}
.Code-right-container{
    display: flex;
    flex: row;
    align-items: center;
}
.Code-table-bottom-title{
    font-size: 20px;
    font-family: 'Agency FB';
    color: rgb(51, 51, 51);
}
.Code-right{
    margin-right: 20px;
}
.Code-top{
    margin-top: 10px;
}
.Code-gst-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 160px;
}
.Code-checkbox-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Code-right-hint{
    font-size: 20px;
    color: #666666;
    font-family: 'Agency FB';
}
.Code-sign{
    font-size: 20px;
    color: rgb(0, 135, 195);
    font-family: 'Agency FB';
}
.Code-button{
    background-color: rgb(0, 135, 195);
    font-size: 20px;
    font-family: 'Agency FB';
    margin-top: 50px;
    width: 150px;
    height: 35px;
    color: white;
    border-radius: 5px;
    border: none;
}
.Code-button:hover{
    background-color: rgb(0,110,160);
    color: white;
    border:none;
    cursor: pointer;
}
.Code-warning-container{
    font-size: 24px;
    font-family: 'Agency FB';
    color: rgb(93, 93, 93);
}
.Code-warning-top{
    margin-top: 40px;
}
.Code-warning-button{
    background-color: rgb(0, 135, 195);
    font-size: 20px;
    font-family: 'Agency FB';
    margin-top: 50px;
    width: 90px;
    height: 35px;
    color: white;
    border-radius: 5px;
    border: none;
}
.Code-warning-button:hover{
    background-color: rgb(0,110,160);
    color: white;
    border:none;
    cursor: pointer;
}
.Code-sign-container{
    margin-top: 50px;
    width: 600px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.Code-one-hint-container{
    height: 30px;
    background-color: #d9f3ff;
    font-size: 18px;
    color: rgb(51, 51, 51);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Agency FB';
}
.Code-table-top-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 360px;
}
.Code-day-input{
    width: 60px;
}
.Code-day-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 320px;
}
.Code-warning-container{
    font-size: 16px;
    color: rgb(102, 102, 102);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Agency FB';
    width: 500px;
}